
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxl-c-plus-plus'></i>
            <div class="logo_name">CodingLab</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="/">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        {{#if checkUser}}
        <li>
            <a href="/users/profile">
                <i class='bx bx-user'></i>
                <span class="links_name">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        {{else}}
        {{/if}}

        <li>
            <a href="#">
                <i class='bx bx-chat'></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder'></i>
                <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">Files</span>
        </li>
        <li>
            <a href="/shoping_cart">
                {{#if checkUser}}
                {{#if addPluse}}
                       <span class=" badge rounded-pill bg-primary" id="neg">
                    <p calss="cart_product">{{totalproducts}} </p>
                    <span class="visually-hidden">unread messages</span>
                </span>
                {{else}}
                 
                {{/if}}
                    
                {{else}}
                    
                {{/if}}
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li>
               {{#if checkUser}}
            <a href="/users/logout"><i class='bx bx-log-out' id="log_out"></i>
                           <span class="links_name">LogOut</span>

            </a>
            <span class="tooltip">LogOut</span>


            {{else}}

            {{/if}}
        </li>
    </ul>
  
</div>